<div id="<%= dom_id diary %>">
  <p>
    <strong>User:</strong>
    <%= diary.user_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= diary.text %>
  </p>

  <p>
    <strong>Tension:</strong>
    <%= diary.tension %>
  </p>

</div>
