<% content_for :title, "Editing diary" %>


<h1>日記を編集</h1>

<% if current_user.id == @diary.user_id %>
  <%= render "form", diary: @diary %>

  <%= button_to "削除", @diary, method: :delete %>
<% else %>
  他のユーザーの日記は修正できません
<% end %>


<br>

<div>
  <%= link_to "戻る", current_user %>
</div>
