<h1>Kyowaを始める</h1>

<% if user_signed_in? %>
  <!-- 生成AIが作成 ユーザー情報の編集への導線 -->
  <%= link_to 'ユーザー情報を編集', edit_user_path(current_user) %>
  <%= link_to "日記を表示", diaries_path %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to 'Login', new_user_session_path %>
<% end %>
